@using System.Data;
@using Shop.Entity;
@using Shop.Help;
@using Shop.Bll;
@using Webdiyer.WebControls.Mvc
@using System.Web.Mvc.Ajax;
@model  PagedList<DataRow>
@{
    string actionString = RoleLogic.GetPowerStr("Article", ManagerLogic.GetLoginInfo().ManagerRoleGuid);
}


<table class="table table-bordered  table-condensed table-condensed  table-hover">
    <thead>
        <tr>
            <th>门店</th>
            <th>充值数量(条)</th>
            <th>操作后短信数</th>
            <th>应付金额</th>
            <th>实付金额</th>
            <th>操作员</th>
            <th>操作时间</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                @if (row["Name"].ToString().Length >= 20)
                {
                    <td class="title" id="@row["Guid"]" onmouseover="ShowMsg('@row["Guid"]','@row["Name"]')">@row["Name"].ToString().Substring(0, 20)  ...</td>
                }
                else
                {
                    <td class="title">@row["Name"]</td>
                }
                <td> @row["Count"]</td>
                <td> @row["AvailableSmsCount"]</td>
                <td>@row["ShouldPay"]</td>
                <td>@row["FactPay"]</td>
                <td>@row["UserAccount"]</td>
                <td>@Convert.ToDateTime(row["OperateTime"]).ToString("yyyy-MM-dd HH:mm")</td>
                <td>@row["Memo"]</td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">

    <ul class="pagination">
        <li>
            <span aria-hidden="true">
                @(Model.PageSize)条/页，@(Model.TotalPageCount)页, 共@(Model.TotalItemCount)条
            </span>
        </li>
        <li>
            <span aria-hidden="true">
                每页
                <select id="buyPageSize" onchange="BuyPageSizeChange();" style="font-size: smaller;">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                条
            </span>
        </li>
    </ul>
    @Ajax.Pager(Model,
new PagerOptions
{
    PageIndexParameterName = "buyPageIndex",
    CssClass = "pagination",
    FirstPageText = "首页",
    LastPageText = "尾页",
    PrevPageText = "上一页",
    PageIndexBoxId = "BuyPageIndexBox",
    NextPageText = "下一页",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>",
    AutoHide = false,

}, new MvcAjaxOptions
{
    UpdateTargetId = "RechargeTable",
    HttpMethod = "Post",
    DataFormId = "formRechargeSearch",
    EnableHistorySupport = false,
    OnSuccess = "BuySuccess();",
    EnablePartialLoading = true
}
)

    <ul class="pagination">
        <li>
            <span aria-hidden="true" style="padding: 2px 3px;">
                跳转到第<input id="BuyPageIndexBox" class="form-control input-sm" style="border-radius:0px;width:auto;display:inline-block;" oninput="InputPageIndex(this);" />
                <button class="btn btn-primary btn-sm" id="goBuyBtn1" style="border-radius:0px;" onclick="GoPageIndex();">Go</button>
            </span>
        </li>
    </ul>
</div>
<script>
    function BuySuccess()
    {
        $("#buyPageSize").val('@ViewData["buyPageSize"]');
    }

    function BuyPageSizeChange()
    {
        $("input[name='buyPageSize']").val($("#buyPageSize").val());
        $("#formBuySearch").submit();
    }
</script>